*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
MPChartLib/build/generated/renderscript_source_output_dir/
MPChartLib/build/generated/res/
MPChartLib/build/generated/source/apt/
MPChartLib/build/intermediates/annotations_zip/
MPChartLib/build/intermediates/blame/
MPChartLib/build/intermediates/check_manifest_result/
MPChartLib/build/intermediates/incremental/mergeReleaseResources/merged.dir/
MPChartLib/build/intermediates/incremental/mergeReleaseResources/stripped.dir/
MPChartLib/build/intermediates/incremental/packageReleaseResources/merged.dir/
MPChartLib/build/intermediates/incremental/packageReleaseResources/stripped.dir/
MPChartLib/build/intermediates/incremental/release-mergeJavaRes/zip-cache/
MPChartLib/build/intermediates/incremental/release-mergeJniLibs/zip-cache/
MPChartLib/build/intermediates/incremental/verifyReleaseResources/
MPChartLib/build/intermediates/intermediate-jars/release/jni/
MPChartLib/build/intermediates/jniLibs/
MPChartLib/build/intermediates/library_and_local_jars_jni/
MPChartLib/build/intermediates/library_assets/
MPChartLib/build/intermediates/packaged-classes/release/libs/
MPChartLib/build/intermediates/packaged_res/
MPChartLib/build/intermediates/public_res/
MPChartLib/build/intermediates/res/compiled/
MPChartLib/build/intermediates/res/merged/
MPChartLib/build/intermediates/rs/
MPChartLib/build/intermediates/shader_assets/
MPChartLib/build/intermediates/shaders/
MPChartLib/build/tmp/
app/libs/
app/src/main/java/io/bcaas/exchange/http/requester/
qrcode/build/generated/renderscript_source_output_dir/
qrcode/build/generated/res/
qrcode/build/generated/source/apt/
qrcode/build/intermediates/annotations_zip/
qrcode/build/intermediates/check_manifest_result/
qrcode/build/intermediates/incremental/mergeReleaseResources/stripped.dir/
qrcode/build/intermediates/incremental/packageReleaseResources/stripped.dir/
qrcode/build/intermediates/incremental/release-mergeJavaRes/zip-cache/
qrcode/build/intermediates/incremental/release-mergeJniLibs/zip-cache/
qrcode/build/intermediates/incremental/verifyReleaseResources/
qrcode/build/intermediates/intermediate-jars/release/jni/
qrcode/build/intermediates/jniLibs/
qrcode/build/intermediates/library_and_local_jars_jni/
qrcode/build/intermediates/library_assets/
qrcode/build/intermediates/public_res/
qrcode/build/intermediates/rs/
qrcode/build/intermediates/shader_assets/
qrcode/build/intermediates/shaders/
qrcode/build/tmp/
